@import '../fonts/JetBrainsMono/style.css';
@import '../fonts/ProductSans/style.css';

* {
    transition: background-color 0.2s;
    font-family: 'Product Sans Regular', sans-serif;
}

html,
body {
    overflow-x: hidden;
}

.ui.button {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

.vortex-icon {
    mask: url(~static/vortex.svg);
    display: inline-block;
    width: 18px;
    height: 18px;
    mask-size: contain;
    background: currentColor;
}
